.Promotion_main {
  width: 1145px;
  height: auto;
  margin: 0 auto;
}
img {
  border-radius: 8px;
}
.Promotion_center {
  width: 100%;
}
.imgg {
  width: 1160px;
  height: 70px;
  border-radius: 6px;
  border: 1px solid gray;
}
.Promotion_hot {
  margin-top: 20px;
  width: 1160px;
  height: auto;
  background-color: RGBA(248, 248, 255, 0.6);
}
.Promotion_hot p {
  font-size: 20px;
  font-weight: 600;
  color: red;
  padding: 22px;
}
.price_productt {
  color: red;
}
.fire {
  margin-right: 5px;
}
.img_Promotion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 22px;
}
.img_Promotion_children {
  width: 275px;
  height: 312px;

  position: relative;
  background-color: white;
}
.hover_scale img {
  width: 200px;
  height: 162px;
  position: absolute;
  inset: 0px 0px 7px 18px;
  transition: all 1s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.img_Promotion_children p {
  color: black;
  position: absolute;
  top: 168px;
  cursor: pointer;
}
.hover_scale {
  position: relative;
  width: 238px;
  height: 169px;
  margin: 10px auto;
  display: flex;
  background-color: red;
  transition: 0.4s ease;
}
.hover_scale:hover {
  transform: scale(1.03);
}
.price_productt {
  border-radius: 7px;
  padding: 6px;
  color: red;
  background: antiquewhite;
  width: 130px;
}
.price_productt:hover {
  opacity: 0.6;
}
